@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  background-color: red;
  height: 9px;
  width: 4px;
}

.search-bar-container {
  padding-top: 200vh;
  width: 20%;
  margin: auto;
  display: flex;
  align-items: center;
  min-width: 100px;
}

.search_input {
  height: 40px;
  /* display: flex; */
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FAEBD7;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 100px;
  display: flex;
}

.left-content,
.right-content {
  flex-basis: 50%;
}

.card {
  width: 260px;
  background-color: #EE82EE;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.left-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.right-content {
  width: 50%;
  text-align: center;
  color: black;
  position: fixed;
  top: 100px;
  right: 10px;
}

.right-content img {
  margin: 1.5rem;
  height: 160px;
}

.right-content h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.abilities {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.abilities .group {
  background-color: darkgoldenrod;
  color: black;
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 8px;
  margin-left: 1rem;
}

.base-stat {
  margin-top: 2rem;
}

.btn-group {
  display: flex;
}

.btn-group button {
  outline: none;
  border: none;
  width: 500px;
  padding: 0.3rem 0;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: black;
  border-radius: 8px;
}

.btn-group button:nth-of-type(1) {
  background-color: orange;
  cursor: pointer;
}

.btn-group button:nth-of-type(2) {
  background-color: orange;
  cursor: pointer;
}

.btn-group button:nth-of-type(3) {
  background-color: #9c27b0;
}
